*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 1440px;
  margin-inline: auto;
  padding: 20px;
  min-height: 100vh;
  overflow-x: hidden;
}

.game-board {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 250px);
}

.card-container {
  height: 300px;
  background-color: blueviolet;

}

.match-card {
  background-color: chartreuse;
}